.App {
  text-align: center;
}

.AboutBorder{
  border-bottom: 2px solid #493F3D;
  margin-left: 100px;
  margin-right: 100px;
}

.Btn{
  border-color: #493F3D !important;
}

.Btn:hover{
  box-shadow: 0px 0px 0px 2px #493F3D !important;
}

.Avatar{
  width: 200px !important;
  height: 200px !important;
}

.Aboutp{
  font-size: 20px !important;
  max-width: 80% !important;
  text-align:justify !important;
}

.BtnScdr{
  border-color: #493F3D !important;
  width:80px;
}

.Icones{
  stroke: #FFFFFF !important;
  height: 35px !important;
}
.BoxCard{
  color: white !important;
  font-style: italic !important;
}

a{
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
}



.LinGrad3{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(175,171,169,1) 100%);
  width: 200px !important;
}

.BtnScdr:hover{
  box-shadow: 0px 0px 0px 2px #493F3D !important;
}

.Btn:focus{
  outline: none !important;
}

.ImageProject{
  min-height: 80%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
